/*=============*/
/* Reset Style */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

a:-webkit-any-link:focus-visible {
    outline: 0px;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

/*=============*/
/* Body | RTL */
body {
    color: var(--clr-body);
    background: var(--bg-body);
    font-size: 16px;
    font-weight: 400;
    font-family: "Cairo", sans-serif;
    position: relative;
}

/*=============*/
/* Variables */
:root {
    --bg-body: #ffffff;
    --clr-body: #4A5565;
    --clr-primary: #284541;
    --clr-secondary: #AE864B;
    --clr-warning: #f7a022;
    --clr-success: #09ca5f;
    /* --clr-gray: #c2c6cd;
    --clr-gray-1: #edeffe; */
    /* 
    --clr-third: #BB62FF;
    --clr-info: #7E71FE; */
}

/*=============*/
/* Components */
/* Buttons */
.svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tr-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 40vw;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding-block: 8px;
    padding-inline: 24px;
    max-height: 48px;
    border: 1px solid transparent;
    gap: 8px;
}

.btn-primary {
    background-color: var(--clr-primary);
    color: #fff;
}

.btn-secondary {
    background-color: var(--clr-secondary);
    color: #fff;
}

.btn-outline {
    border: 2px solid #fff;
    color: #fff;
    gap: 8px;
}

.btn-link {
    background: none;
    border: none;
    padding: 0;
}

a.btn-link:hover {
    text-decoration: underline;
}


.flex-center-16-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.flex-center-center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

@media screen and (max-width: 767.98px) {
    .flex-wrap-md {
        flex-wrap: wrap;
    }
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.form-group {
    margin-bottom: 16px;
}

.form-group>label {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: var(--clr-primary);
    margin-bottom: 8px;
}

.form-control {
    border: 1px solid transparent;
    padding: 5px 12px;
    background-color: #F3F3F5;
    color: #717182;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 8px;
}

.form-control:focus,
.form-control:focus-visible {
    outline: none;
    box-shadow: none;
    border-color: var(--clr-primary);
    background-color: #F3F3F5;
}

/*=============*/
/* General */
.section-title {
    font-size: clamp(30px, 6vw, 48px);
    font-weight: 700;
    line-height: clamp(36px, 6vw, 48px);
    color: var(--clr-primary);
    position: relative;
}

.section-title:before {
    content: '';
    position: absolute;
    width: 96px;
    height: 4px;
    border-radius: 40vw;
    background-color: var(--clr-secondary);
    bottom: -28px;
}

.mobile-dir {
    direction: ltr;
}

/*=============*/
/* Header */
.tr-header {
    position: absolute;
    width: 100%;
    top: 20px;
    z-index: 10;

}

.tr-header .navbar {
    padding: 0;
}

.tr-header .navbar-brand {
    margin: 0;
    padding: 0
}

.tr-header .navbar-collapse {
    flex-grow: initial;
}

.tr-header .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.tr-header .nav-link:hover {
    color: var(--clr-secondary);
}

.tr-header .navbar-nav {
    gap: 16px;
}

@media screen and (min-width: 1200px) {
    .tr-header .navbar-nav {
        gap: 30px;
    }
}

@media screen and (min-width: 992px) {
    .tr-header .btn-mobile {
        display: none;
    }
}

@media screen and (max-width: 991.98px) {
    .tr-header .btn-desktop {
        display: none;
    }
}

/*=============*/
/* Sections */
/* Hero */
.tr-hero {
    min-height: 100vh;
    background: url("../media/imgs/hero-bg.jpg") center/cover no-repeat;
    color: #fff;
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tr-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    background: linear-gradient(180deg, #284541 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);

    z-index: -2;
}

.tr-hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #284541B2;
    z-index: -1;
}

.tr-hero-title {
    font-weight: 700;
    /* font-size: 72px; */
    font-size: clamp(36px, 8vw, 72px);
    line-height: clamp(32px, 8vw, 90px);
    text-align: center;
    color: white;
    margin-bottom: 24px;
}

.tr-hero-subtitle {
    font-weight: 300;
    font-size: 36px;
    font-size: clamp(24px, 5vw, 36px);
    line-height: 40px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.tr-hero .tr-btn {
    font-size: 18px;
    line-height: 28px;
    padding: 10px 30px;
    font-weight: 700;
}

.tr-hero .tr-btn.btn-outline {
    padding-inline: 16px;
}

/*---------*/
/* About */
.tr-about {
    padding-block: 80px;
}

.tr-about .img-container {
    max-height: 500px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 25px 50px -12px #00000040;
    transition: all 0.2s ease-in-out;
}

.tr-about .img-container>img {
    object-fit: cover;
    border-radius: 16px;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.tr-about .img-container:hover {
    rotate: -2deg;
    scale: 0.95;
    transition: all 0.2s ease-in-out;
}

.tr-about .section-title {
    margin-bottom: 66px;
}

.tr-about .section-title:before {
    width: 80px;
}

.tr-about .about-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: var(--clr-body);
    margin-bottom: 32px;
}

/*---------*/
/* Target */
.tr-target {
    padding-block: 80px;
}

.tr-target .section-title:before {
    inset-inline: 0;
    margin-inline: auto;
}

.tr-target .target-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 66px;
    color: var(--clr-body);
}

.tr-target-card {
    border-radius: 16px;
    box-shadow: 0px 4px 6px -4px #0000001A, 0px 10px 15px -3px #0000001A;
    padding-bottom: 32px;
    transition: all 0.2s ease-in-out;
    /* height: 164px; */
}

.tr-target-card .img-container {
    height: 256px;
    margin-bottom: 32px;
    overflow: hidden;
    border-start-start-radius: 16px;
    border-start-end-radius: 16px;
}

.tr-target-card .img-container>img {
    object-fit: cover;
    height: 100%;
    border-start-start-radius: 16px;
    border-start-end-radius: 16px;
    transition: all 0.2s ease-in-out;
}

.tr-target-card h3 {
    padding-inline: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--clr-primary);
    margin-bottom: 16px;
}

.tr-target-card p {
    padding-inline: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: var(--clr-body);
    min-height: 52px;
}

.tr-target-card:hover .img-container img {
    scale: 1.2;
}

/*---------*/
/* Management */
.tr-management {
    padding-block: 95px;
    background-color: #D4E2D4;
}

.tr-management .section-title:before {
    inset-inline: 0;
    margin-inline: auto;
}

.tr-management .management-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 66px;
    color: var(--clr-body);
}

@media screen and (min-width: 992px) {
    .tr-management .management-desc {
        max-width: 50%;
    }
}

.tr-management-card {
    padding: 32px;
    border-radius: 16px;
    background-color: #FFFFFF80;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.tr-management-card .icon-container {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    margin-bottom: 24px;
    justify-self: center;
    transition: all 0.2s ease-in-out;
}

.tr-management-card h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--clr-primary);
    margin-bottom: 16px;
}

.tr-management-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #364153;
}

.tr-management-card:hover {
    background-color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

.tr-management-card:hover .icon-container {
    transform: translateY(-5px);
    background-color: var(--clr-secondary);
    color: white;
    box-shadow: 0 2px 0 1px rgb(40 69 65 / 80%);
    transition: all 0.2s ease-in-out;
}

/*---------*/
/* Gallery */
.tr-gallery {
    padding-block: 95px;
}

.tr-gallery .section-title:before {
    inset-inline: 0;
    margin-inline: auto;
}

.tr-gallery .gallery-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 66px;
    color: var(--clr-body);
}

.gallery-slider {
    position: relative;
    padding-inline: 70px;
}

.gallery-slider__item {
    margin-inline: 19px;
    border: 4px solid transparent;
    position: relative;
}

.gallery-slider__item:hover {
    border-color: var(--clr-primary);
}

.gallery-slider__item .item-img-container {
    position: relative;
    isolation: isolate;
    overflow: clip;
}

.gallery-slider__item .item-img-container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #28454133;
    z-index: 1;
}

.gallery-slider__item img {
    min-height: 473px;
    object-fit: cover;
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
}

.gallery-slider__item .item-desc {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    margin-inline: auto;
    translate: 0 60px;
    transition: 0.2s translate ease-in-out;
    z-index: 2;
}

.gallery-slider__item:hover .item-img-container:before {
    opacity: 0.5;
}

.gallery-slider__item:hover img {
    opacity: 1;
    scale: 1.2;
    rotate: 3deg;
    transition: all 0.2s ease-in-out;
}

.gallery-slider__item:hover .item-desc {
    translate: 0 -20px;
}

.tr-btn.slick-arrow {
    padding: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    color: var(--clr-primary);
    width: 48px;
    height: 48px;
    position: absolute;
    inset-block: 0;
    margin-block: auto;
}

.tr-btn.slick-arrow:hover {
    background-color: var(--clr-secondary);
    color: white;
}

.slick-arrow.btn-prev {
    inset-inline-start: 0;
}

.slick-arrow.btn-next {
    inset-inline-end: 0;
    scale: -1;
}

/*---------*/
/* Services */
.tr-services {
    padding-block: 95px;
}

.tr-services .section-title:before {
    inset-inline: 0;
    margin-inline: auto;
}

.tr-services .service-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 66px;
    color: var(--clr-body);
}

.tr-service-card {
    position: relative;
    border-radius: 16px;
    box-shadow: 0px 4px 6px -4px #0000001A, 0px 10px 15px -3px #0000001A;
}

.tr-service-card .service-img {
    height: 320px;
    overflow: hidden;
    position: relative;
    opacity: 0.9;
}

.tr-service-card .service-img:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, #284541 0%, rgba(40, 69, 65, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
}

.tr-service-card .service-img img {
    height: 320px;
    object-fit: cover;
    border-radius: 16px;
    user-select: none;

}

.tr-service-card .service-content-wrapper {
    padding-inline: 32px;
    position: absolute;
    bottom: 16px;
    transition: all 0.2s ease-in-out;
}

.tr-service-card .icon-container {
    width: 47px;
    height: 47px;
    color: white;
    border-radius: 10px;
    background-color: var(--clr-secondary);
    margin-bottom: 16px;
    box-shadow: 0px 4px 6px -4px #0000001A, 0px 10px 15px -3px #0000001A;
    transition: all 0.2s ease-in-out;
}

.tr-service-card h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.tr-service-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #E5E7EB;
    margin-bottom: 16px;
}


.tr-service-card:hover .service-content-wrapper {
    translate: 0 -20px;
}

.tr-service-card:hover .icon-container {
    rotate: 375deg;
    /* rotate: 15deg; */
}

/*=============*/
/* Contact */
.tr-contact {
    padding-block: 85px 57px;
    background-color: #D4E2D480;
}

.tr-contact .section-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 32px;
}

.tr-contact .section-title:before {
    bottom: -16px;
}

.tr-contact .contact-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 32px;
    color: var(--clr-body);
}

.tr-contact .contact-info-list {
    margin-bottom: 54px;
}

.tr-contact .contact-info-list li {
    display: flex;
    align-items: center;
    gap: 16px;
}

.tr-contact .contact-info-list li:not(:last-child) {
    margin-bottom: 24px;
}

.tr-contact .contact-info-list li .info-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #2845411A;
    color: var(--clr-secondary);
}

.tr-contact .contact-info-list li .info-icon svg {
    width: 17px;
    height: auto;
}

.tr-contact .contact-info-list li .info-content h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var(--clr-primary);
    margin-bottom: 4px;
}

.tr-contact .contact-info-list li .info-content p,
.tr-contact .contact-info-list li .info-content .tr-btn.btn-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--clr-body);
}

.contact-form-card {
    height: 100%;
    padding: 20px 24px;
    border-width: 3.75px, 0.83px, 0.83px, 0.83px;
    border-style: solid;
    border-color: #0000001A;
    box-shadow: 0px 4px 6px -4px #0000001A, 0px 10px 15px -3px #0000001A;
    border-radius: 14px;
    background-color: white;
}

.contact-form-card .section-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
}

.contact-form-card .section-title:before {
    bottom: -14px;
}

.contact-form-card .contact-form-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    color: #717182;
}

/* Interaction Buttons */
.contact-form-card .tr-btn {
    transition: 0.2s all ease-in-out;
    position: relative;
    overflow: hidden;
    border: 0;
}

.contact-form-card .tr-btn.btn-secondary:before {
    content: "";
    z-index: -1 !important;
    position: absolute;
    width: 102%;
    height: 102%;
    top: 50%;
    inset-inline-end: -102%;
    aspect-ratio: 1;
    border-radius: 40vw;
    transform: translateY(-50%) scale(1);
    transform-origin: left center;
    transition: transform 0.2s ease-in-out;
    background: var(--clr-primary);
}

.contact-form-card .tr-btn.btn-secondary:hover {
    transform: translateY(-3px);
    box-shadow: 0px 2px 0px 1px rgb(174 134 75 / 80%);
}

.contact-form-card .tr-btn.btn-secondary:hover:before {
    transform: translateY(-50%) scale(2);
}

/*=============*/
/* Footer */
.tr-footer {
    padding-block: 64px 32px;
    background-color: var(--clr-primary);
    color: #D1D5DC;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
}

.footer-logo img {
    width: 66px;
    height: 40px;
}

.footer-logo h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #FFFFFF;
}

.footer-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
    color: #D1D5DC;
}

.footer-social-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-social-list li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF1A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-list li a:hover {
    background-color: var(--clr-secondary);
}

.footer-widget-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: var(--clr-secondary);
    margin-bottom: 24px;
}

.footer-links-list li:not(:last-child) {
    margin-bottom: 16px;
}

.footer-links-list li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D1D5DC;
    margin-bottom: 16px;
    margin-bottom: 0;
}

.footer-links-list li a:hover {
    color: white;
    text-decoration: underline;
}

.footer-subscription-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 26px;
    color: white;
}

.subscription-input {
    position: relative;
    isolation: isolate;
    color: #28454180;
}

.subscription-input .form-control {
    width: 100%;
    padding-block: 5px;
    padding-inline: 45px 16px;
    border-radius: 8px;
    border: none;
    background-color: #F3F3F54D;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
    color: #D1D5DC;
}

.subscription-input .form-control:focus,
.subscription-input .form-control:focus-visible {
    outline: none;
    box-shadow: none;
}

.subscription-input .svg-icon {
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    inset-inline-start: 15px;
}

.footer-subscription-wrapper .tr-btn {
    border-radius: 8px;
    width: 100%;
}

.footer-copyrights {
    border-top: 1px solid #FFFFFF1A;
    margin-top: 48px;
    padding-top: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

.copyrights-links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-copyrights p,
.copyrights-links .tr-btn.btn-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #99A1AF;
}

.copyrights-links .tr-btn.btn-link:hover {
    color: white;
    text-decoration: underline;
}